   <div class="container"> 
   	<h3>{{title}}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of pagedItems; index as id" >
      <th scope="row">{{ user.firstname }}</th>
      <td>{{ user.lastname }}</td>
      <td>{{user.username}}</td>
      <td><button class="btn btn-danger" (click)="onUserDeleted(user.id)"> Delete </button >
        <button class="btn btn-danger" (click)="onUserDeleted(user.id)"> Edit </button>
      <button class="btn btn-danger" (click)="onUserDeleted(user.id)"> view </button> </td>
    </tr>

       <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>

            
  </tbody>
</table>
	<div class="row">
			<div class="col-sm-2"><button class="btn btn-danger" (click)="clearUser()">Clear</button></div>
			<div class="col-sm-2"><button class="btn btn-primary" routerLink="/"> Go To List</button>
		</div>
	</div>
</div>


   <div class="container"> <br>
    <h3>Agent Role Users <span *ngIf="totalAgentUser"> ( {{totalAgentUser }} )</span> (local storage example)</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Compnay Name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agentUser of agentUsers; index as id" >
      <th scope="row">{{ agentUser.name }}</th>
      <td>{{ agentUser.company_name }}</td>
      <td>{{agentUser.user_desc}}</td>
      <td><button class="btn btn-danger" (click)="onUserRoleDeleted(id)"> Delete </button> </td>
    </tr>
  </tbody>
</table>
  <div class="row">
      <div class="col-sm-2"><button class="btn btn-danger" (click)="clearUserRole()">Clear</button></div>
      <div class="col-sm-2"><button class="btn btn-primary" routerLink="/"> Go To List</button>
    </div>
  </div>
</div>



