<div class="main_list"><div class="header">
  <h2>Blog</h2>
</div>

<div class="container">
<div class="row">
  <div class="leftcolumn">
    <div class="main_block_job" *ngFor="let job of joblist | slice:0:show">
     
            <div class="user_meta"> <img src="http://localhost:8080/user_upload/{{job.userprofile}}"><span>{{job.firstname}}</span></div>

      <h3>{{job.job_title}}</h3>
      <h5>{{job.createdAt | date}}</h5>

      <div *ngIf="job.job_media" class="fakeimg" style="height:200px;"><img src="http://localhost:8080/user_upload/{{job.job_media}}"></div>

      <p [innerHTML] = "job.job_desc"></p>

         <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/job/', job.job_id]">
            <button type="button" class="btn btn-success btn-sm">View</button>
          </span>
          <span class="delete" (click)="removeEmployee(employee, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
     
    </div>

    <div *ngIf="show < joblist.length" (click)="increaseShow()" class="btn btn-success">Load More</div>

   
  </div>
</div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
</div>

