

<div class="container"> 
   	<h3>{{title}}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Compnay Name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
      <th scope="col">Set Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="user" >
      <th scope="row">{{ user.name }}</th>
      <td>{{ user.company_name }}</td>
      <td>{{user.user_desc}}</td>
      <td> <button class="btn btn-primary" (click)="addToSortedList(user)">Set As Shortlisted</button>


      </td>

        <td> 

      <button class="btn btn-primary" (click)="addToUserRole(user)">Set As Agent</button>
      </td>


    </tr>
    
  </tbody>
</table>

<div class="row">
	<div class="col-sm-2"><button class="btn btn-primary" routerLink="/"> Go To List</button></div>
	<div class="col-sm-3"><button class="btn btn-primary" routerLink="/sortedUsers"> View Selected Users</button></div>

</div>

</div>





